/**************************************************************************************/
/*
/*		Designed by 'AS Designing'
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: Creative Commons
/*
/**************************************************************************************/

#mainmenu{
	background: rgba(0, 24, 72, 0.9);
	padding: 0 0 0 0;
	height: 41px;
	margin-bottom: 20px;
}

#mainmenu ul li{
	display: inline-block;
	padding: 0 0 0 0;
}

#mainmenu ul li a{
	color: #ffffff;
	font-size: 14pt;
	display: inline-block;
	font-weight: normal;
}

#mainmenu ul li.current a,
#mainmenu > .nav > li.current > a:hover{
	color: #14264a;
	background: #eeeeee !important;
}

#loginform{
	float: right;
	width: 220px;
	height: 180px;
	margin-top: 20px;
	color: #ffffff;
}

#loginform ul li {
	display : inline-block;
	margin-right: 30px;
}

#loginform label{
	display: none;
}

#loginform .mod-login_submit,
#loginform .mod-login_submit .btn{
	margin-top: 0;
	margin-bottom: 0;
}

