.userlist {
	width: 100%;
	}
	
.userinfo {
	width: 100%;
	float: none;
	height: 150px;
	border: solid gray;
	margin: 5px;
	}

.avatar {
	float: left;
	height: 130px;
	margin: 5px;
	}

.about {
	}

.details {
	float: left;
	}	
	
.field {
	float: left;
	width: 160px;
	margin: 3px;
	}

.value {

	}	
	
.avatar {
	width: 100px;
	}	
	
.filter_row {
	height: 60px;
}	

.filter_item {
	width: 50%;
	float: left;
}