BODY {
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: 10pt
}
TD {
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.main {
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif; FONT-SIZE: 10pt
}

.text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #002201; FONT-FAMILY: Arial, serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: justify
}


INPUT {  FONT-SIZE: 8pt;  COLOR: #000000; }


A:link {COLOR: #000080; FONT-WEIGHT: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none}
A:visited {COLOR: #000080; FONT-WEIGHT: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none}
A:hover {COLOR: #ff0000; FONT-WEIGHT: normal; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: underline}


A.menu:link {	COLOR: #000044; FONT-WEIGHT: bold; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none}
A.menu:visited {COLOR: #000000; FONT-WEIGHT: bold; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none}
A.menu:hover {COLOR: #000000; FONT-WEIGHT: bold; FONT-FAMILY: verdana, arial, helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: underline}







.background {
	MARGIN: 2px 2px 10px; COLOR: #ffffff; BACKGROUND-COLOR: #6495ED
}

.background2 {
	MARGIN: 2px 2px 10px; COLOR: #ffffff; BACKGROUND-COLOR: #6495ED
}








TH {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Tahoma
}
.block TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/image/block-header-bg.gif); PADDING-BOTTOM: 4px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #FF0000
}

TABLE.block {
	BORDER-RIGHT: #FF0000 1px solid; BORDER-TOP: #FF0000 1px solid; BORDER-LEFT: #FF0000 1px solid; BORDER-BOTTOM: #FF0000 1px solid
}




H2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; MARGIN: 3px; TEXT-TRANSFORM: uppercase; COLOR: #000000; PADDING-TOP: 3px; BACKGROUND-COLOR: #DBDBDB; TEXT-ALIGN: center
}


