/*
Theme Name: FSC theme
Theme URI: http://soft-casino.net/
Description: FCS theme
Author: Dimka
Author URI: http://soft-casino.net/
Version: 1.0
Tags:soft-casino.net
License:4575-5484-1584-1544-2455
License URI:http://soft-casino.net/

General comments (optional).
*/
body{font-family:Arial; background:#000;}
loading{margin:200px auto 0; width:325px; height:140px; background:url('/img/mg-loading.jpg') no-repeat; cursor:pointer;}
.clear{width:100%; height:1px; clear:both;}
.wrapper{background:url(/img/main_bg.png) top center no-repeat;}
.main{width:1024px; margin:0 auto; background:url(/img/lights.png) left top no-repeat;}
.header{width:976px; position:relative; background:url(/img/main_top.png) left 154px no-repeat; margin:0 0 0 24px;}
.header .logo{position:absolute; top:0px; left:0px; background: url(/img/logo.png) left top no-repeat; display:block; width:325px; height:95px;}
.header .banner{position:absolute; left:241px; top:21px; display:block; width:728px; height:90px;}
.header h1{color:#01d8ff; font-size:30px; font-weight:bold; position:absolute; top:175px; left:35px;}
.header .header_promo{margin-top:240px; margin-left:35px; font-size:14px; line-height: 1.3; color:#fff; width:900px; padding-bottom:65px;
    background:url(/img/light_sep.png) center bottom no-repeat;}
.header .header_promo p{margin: 10px 0;}
.casino_logo{position: absolute; top: 159px; right: 6px;}

.auth{position:absolute; right:0px; top:5px; width: 261px; height:180px;}
.auth_holder{padding: 10px; border: #444 2px solid; background: #111; border-radius: 9px;}
.auth_holder .form input.text{padding-left: 5px; width: 228px; margin-bottom: 7px; border-radius: 6px; font-size: 12px;}
.auth_holder .form .auth_submit{font-size: 16px; border:0px; float: left; background: url(/img/submit.png) no-repeat; width: 97px; height: 29px; margin: 0px 0 0 -4px;}
.auth_holder .form a{font-size: 12px; display: block; color:#01D8FF; margin: 6px 0 11px 125px;}
.soc_enter{padding-top: 5px; border-top: #444 2px solid; color: white; margin-top: 10px; width:236px;}
.soc_enter a{margin: 5px 4px 0 0; display:block; float:left; width:76px; height:18px;}
.soc_enter p{width: 60px; float: left;}
.vk_enter{background:url(/img/vkontakte.jpg) no-repeat;}
.mr_enter{background:url(/img/mailru.jpg) no-repeat;}
.fb_enter{background:url(/img/fbook.png) no-repeat; margin:5px 0 0 0 !important;}
.auth_title{margin: 5px 0 5px 65px;color: white;font-size: 13px;font-weight: bold;}

.content{width:976px; position:relative; background:url(/img/main_mid.png) left bottom repeat-y; margin:0 0 0 24px;}
.play_for_money{width:502px; height:146px; display:block; margin:0 auto; background: url(/img/play_slot.png) 0 0 no-repeat;}
.items{margin: 0 0 30px 60px; padding-top:20px;}
.item{width:184px; height:290px; text-align: center; margin:0 40px 45px 0; float:left;}
.item_top{background: url(/img/item_back.png) center top no-repeat; position: relative; }
.item img{margin: 1px 0 0 1px;}
.item .new{position:absolute; top:1px; left:1px; z-index: 10; width:180px; height:180px; background: url(/img/new.png) left top no-repeat;}
.item .hover{display:none; position:absolute; top:1px; left:1px; z-index: 20; width:183px; height:184px; background: url(/img/hover_bg.png) left top no-repeat;}
.item .hover .hover_butt{width:183px; height:104px; z-index: 30; display: block; background: url(/img/hover_butt.png) 6px 65px no-repeat; padding-top: 80px;
    text-decoration:none; font-size:20px; color:#fff; text-shadow: 0px 0px 12px #000000; filter: dropshadow(color=#000000, offx=0, offy=0);}
.item .item_top:hover .hover{display:block;}
.item p, .item .item_tlink{display:block; margin:5px auto; width:100%; color:#01d8ff; font-size: 20px;}
.item .item_butt{width:153px; height:37px; display:block; text-decoration: none; margin:3px 0 3px 16px; color:#fff; line-height: 37px; font-size:17px;
    text-shadow: 0px 0px 12px #000000; filter: dropshadow(color=#000000, offx=0, offy=0);}
.item .item_butt.free{background:url(/img/play_free_butt.png) 0 0 no-repeat;}
.item .item_butt.money{background:url(/img/play_money_butt.png) 0 0 no-repeat;}

.manufacturers{width:905px; margin:-30px auto 0 auto;}
.manufacturers a{display:inline-block;}

.some_text{margin: 0 auto; width: 900px;}
.some_text a{font-size:14px; font-weight: bold; color:#01d8ff;}
.some_text h2{font-size: 22px; line-height: 1.3; color: #01d8ff; font-weight: bold;}
.some_text p{font-size: 14px; line-height: 1.3; color: #fff;}

.breadcrumbs{position: absolute; top: 170px; left: 35px; color:#fff;}
.breadcrumbs a{font-size: 15px; color: #01D8FF;}
.breadcrumbs span{font-size: 15px; font-weight:bold;}

.content iframe{width:660px; height:495px; margin-left: 153px;}
.addthis_holder{margin-left: 635px;}

.bottom_menu_holder{margin: 0 auto; width: 915px; height:160px; background:url(/img/light_bot.png) center bottom no-repeat;}
.bm_left{float:left; width:85px; height:90px; background: url(/img/menu_bg.png) 0 0 no-repeat;}
.bottom_menu{height:90px; float:left; background: url(/img/menu_bg.png) 0 -90px repeat-x; list-style: none; padding:0px; margin:0px;}
.bottom_menu li{float:left; padding: 0 15px;}
.bottom_menu li a{text-decoration: none; color:#01d8ff; font-size:20px; display:block; line-height:90px; padding: 0 20px;}
.bottom_menu li a:hover{text-decoration:underline;}
.bm_right{float:left; width:85px; height:90px; background: url(/img/menu_bg.png) 0 -180px no-repeat;}

.billing_holder{margin: 0 auto; width: 720px;}
.billing_holder a{background-image: url(/img/billing.png); background-repeat: no-repeat; width:50px; height:30px; display:block; float: left; margin-right:10px;}
.billing_holder a.billing_ico_1{background-position:0 0;}
.billing_holder a.billing_ico_2{background-position: -60px 0;}
.billing_holder a.billing_ico_3{background-position: -120px 0;}
.billing_holder a.billing_ico_4{background-position: -181px 0;}
.billing_holder a.billing_ico_5{background-position: -243px 0;}
.billing_holder a.billing_ico_6{background-position: -305px 0;}
.billing_holder a.billing_ico_7{background-position: -368px 0;}
.billing_holder a.billing_ico_8{background-position: -432px 0;}
.billing_holder a.billing_ico_9{background-position: -495px 0;}
.billing_holder a.billing_ico_10{background-position: -559px 0;}
.billing_holder a.billing_ico_11{background-position: -622px 0;}
.billing_holder a.billing_ico_12{background-position: -685px 0;}

.footer{width:976px; height:59px; background:url(/img/main_bot.png) left bottom no-repeat; margin: 0 0 20px 24px;}

.to_top{position:fixed; top:30px; right:20px; background: url(/img/totop.png) 0 0 no-repeat; cursor: pointer; width:40px; height:105px;}

#respond, .commentlist{border-radius: 12px; border: #3E96CF 2px solid; padding-left: 15px;}
.commentlist{list-style:none; padding:15px; overflow:hidden;}
.commentlist li{overflow:hidden;}
.commentlist .reply{display:none;}
.comments_box{color:#fff;}
.comment-author{padding-left:23px; background:url(/img/ava.png) 0 0 no-repeat;}
.comment-author .fn{color:#ff0101; font-weight:bold;}
.comment-author span{padding-right: 38px; background:url(/img/watch.png) 13px 0 no-repeat; color:#000;}
.comment-author img{display:none;}
.comment-meta a{font-size:14px; text-decoration: none; color:#c9c9c9;}
.comment-meta span{font-size:14px; text-decoration: none; color:#c9c9c9; font-weight:bold;}
#submit{background:url(/img/submit_comment.png) 0 0 no-repeat; width:210px; height:35px; border:0px; margin-top:10px; text-indent: -999px;}
#commentform p label{font-size:14px; color:#01d8ff;}
#commentform p input, #comment{border-radius:7px;}

.copyright{width: 976px; margin: 0 auto; text-align: center; color:#fff; font-size:12px;}

#gplusone-example{margin-left: -634px; float: left;}
#fbjlike-example{float: left; margin-left: -575px;}
.mailru_holder{width: 200px; float: left; margin-left: -375px;}
p.tell_friends{text-align: center; font-size: 13px; color: #01D8FF;}
button.reg
{
    background: url("/img/yellow_but.png") no-repeat scroll 0 2px transparent;
    border:  none;
    color: #3F3C29;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 30px;
    top: 180px;
    width: 235px;
}

button.reg:hover
{
    background-position: 0 -57px;
}
#reg-form-wrap
{
    background: url("/img/reg_bg.jpg") no-repeat center;
    height: 492px;
    width: 920px;
    margin-bottom: 50px;
    text-align: center;
}

#login-form-wrap
{
    background: url("/img/loginpage-bg.jpg") no-repeat center;
    height: 492px;
    width: 920px;
    margin-bottom: 50px;
    text-align: center;
}

#reg-form
{
    width: 498px;
    min-height: 100px;
    position: absolute;
    top: 70px;
    left: 250px;
}

#login-form-wrap #reg-form
{
    width: 375px;
}

#reg-form .tr
{
    margin-bottom: 7px;
    min-height: 30px;
}

#reg-form .td
{
    float: left;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
#reg-form .tr .td:first-child
{
    width: 133px;
    margin-left: 22px;
}

#login-form-wrap #reg-form .tr .td:first-child
{
    width: 83px;
    margin-left: 22px;
}

#reg-form .td input
{
    width: 260px;
    background: #fff;
    color: #000;
    margin: 0;
}
#reg-form #submit
{
    background: url("/img/reg_but.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 38px;
    width: 199px;
    font-size: 18px;
}
#reg-form #submit:hover
{
    background-position: center -51px;
}

#regform {
	margin-top:10px;
.game-hall
{
    margin-left: -23px;
    width: 920px;
    list-style: none;
}

.game-hall li
{
    float: left;
    width: 230px;
    height: 175px;
    text-align: center;
    position: relative;
}
.game-hall li a
{
    outline: none;
    text-decoration: none;
}

.game-hall li.new-game:after
{
    background: url("img/new-game.png") no-repeat scroll 0 0 transparent;
    content: "";
    height: 44px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 44px;
    z-index: 10;
}