table.billing_table{
}

table.billing_table_invisible{
border-width:0px;
border-style:none;
}

th.billing_th{
}

td.billing_td{
}

tr.treven{
}

tr.trodd{
}

tr.billing_head{
}

p.billing_p{
}

.inputbox {
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
border-radius: 3px 3px 3px 3px;
padding: 2px;
border: 1px solid #999999;
}

.inputbox:focus {
border: 1px solid #555555;
}

.select {
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
/*border-radius: 3px 3px 3px 3px;*/
padding: 2px;
}

.select :focus{
border: 1px solid #555555;
}

.selectcell{
	background: #F9FADE; 
	border-style: solid; 
	border-width: 1px;
	padding: 2px;
	border-radius: 3px 3px 3px 3px;
}

.cell{
	border-style: solid; 
	border-width: 1px;
	padding: 2px;
	border-radius: 3px 3px 3px 3px;
}
@media (min-width: 768px){
.form-inline .form-group{margin-right:10px}
.form-inline .form-group .form-control{margin-right:5px}
}