dl#tabs.tabs { 
   display: inline-block;
   padding: 5px 0 0;
}

dl.tabs {
   margin: 0;
} 

.tabs dt.tabs {
   float: left;
   padding: 5px 5px 5px 5px;
   margin: 0 5px -1px 0;
   background: #fff;
   border-right: solid 1px #DAD9D9;
   border-left: solid 1px #DAD9D9;
   border-top: solid 1px #DAD9D9;
   border-bottom: none;
}

.tabs dt.tabs.closed {
   background: #f5f5f5;
   padding: 5px 5px;
   border: solid 1px #DAD9D9;
}

.tabs dt.tabs.basic-details h5 {
   font-size: 11px;
   margin: 0;
}

.tabs dt.tabs.basic-details.open h5 a:link,
.tabs dt.tabs.basic-details.open h5 a:visited  {
   color: #808080;
}

.tabs dt.tabs.basic-details h5 a:link,
.tabs dt.tabs.basic-details h5 a:visited {
   text-decoration: none;
   color: #808080;
}

dd.tabs { 
   clear:both;
   background: #fff;
   margin: 0; 
   padding: 5px;
   border: solid 1px #DAD9D9;
}

dt.tabs h3 {
	margin: 0px;
	font-size: 16px;
}
		
div.current {
    clear: both;
}

/* pane-sliders 
.pane-sliders .title {
margin: 0;
padding: 2px;
color: #666;
cursor: pointer;
}

.pane-sliders .panel { border: 1px solid #ccc; margin-bottom: 3px;}
.pane-sliders .panel h3 { background: #f6f6f6; color: #666}
.pane-sliders .content { background: #f6f6f6; }
.pane-sliders .adminlist { border: 0 none; }
.pane-sliders .adminlist td { border: 0 none; }
.jpane-toggler span { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down { border-bottom: 1px solid #ccc; }

dl.tabs {
float: left;
margin: 10px 0 -1px 0;
z-index: 50;
}

dl.tabs dt {
float: left;
padding: 4px 6px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
margin-left: 2px;
background: #f0f0f0;
color: #666;
}

dl.tabs dt.open {
background: #F9F9F9;
border-bottom: 1px solid #F9F9F9;
z-index: 100;
color: #000;
}

div.current {
clear: both;
border: 1px solid #ccc;
padding: 10px 10px;
}

div.current dd {
padding: 0;
margin: 0;
}
*/

tr trodd{
background-color: transparent;
}

tr treven{
background-color: #CCCCCC;
}


table.adminlist tbody th {
    font-weight: bold;
}

table.adminlist td, table.adminlist th {
    padding: 4px;
}

body, td, th {
    font-family: Arial,Helvetica,sans-serif;
}

table.adminlist tbody tr {
    text-align: left;
}

table.adminlist {
    border-spacing: 1px;
    color: #666666;
}

table.adminlist tbody tr {
    background-color: #FFFFFF;
    text-align: left;
}

table.adminlist {
    background-color: #E7E7E7;
    border-spacing: 1px;
    color: #666666;
    width: 100%;
}

table.adminlist tbody tr td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 25px;
}