/*######  Design by VTEM http://www.vtem.net All Rights Reserved  ###########*/
@import url("bootstrap-legacy.css");
@import url("../../extends/font-awesome/css/font-awesome.min.css");
@import url("../../extends/animate/animate.min.css");
@import url("../../../../../media/jui/css/icomoon.css");
/* #######################  GLOBAL SETTINGS ############################ */
.layout-mode-boxed{background-color:#f5f5f5;}
.layout-mode-boxed > .vtem-wrapper{max-width:1200px; background-color:#fff; margin:0 auto; box-shadow: 0 0 5px rgba(150, 150, 150, 0.5); -webkit-box-shadow: 0 0 5px rgba(150, 150, 150, 0.5); -moz-box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);}
img, .img, .image{max-width:100%; height:auto;}
.site .nav-stacked > li > a {margin-bottom: -1px;}
table {width: 100%; max-width: 100%; margin-bottom: 20px;}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;}
table > thead > tr > th {vertical-align: bottom; border-bottom: 2px solid #ddd;}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {border-top: 0;}
.list-striped,
.row-striped {list-style: none;	line-height: 18px;text-align: left;	vertical-align: middle;	border-top: 1px solid #ddd;	margin-left: 0;	padding:0;}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {border-bottom: 1px solid #ddd;	padding:15px;}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {background-color: #f9f9f9;}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {background-color: #f5f5f5;}
.list-striped .list-title{font-size:150%; padding:10px 0;}
.list-striped .list{display:block; width:100%;}
.chzn-container-single .chzn-single div{top:5px}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices{height:36px; line-height:36px; border-color:#ddd;}
.chzn-container{min-width:150px;}
.chzn-container-multi,
.chzn-container-multi .chzn-choices{min-width:200px; height:32px !important;}
.chzn-container-multi .chzn-choices li.search-field input[type="text"]{height:22px;}
.chzn-container-multi .chzn-choices li.search-field input.default[type="text"]{width:100% !important;}
.ordering-box{max-width:250px;}
.site .element-invisible {display:none;}
dl dt,
dl dd{padding:5px 0;}
.article-info dt,
.article-info dd{padding:0; font-size:90%;}
fieldset > legend{padding:10px 0; margin-bottom:30px;}
body a, body a:hover, body a:focus{outline:none;}
.well{background-color:#fcfcfc;}
body .collapse {height: 0; overflow: hidden; position: relative; transition: height 0.35s ease 0s; display:block;}
body .collapse.in {height: auto;}
#search-form .btn.disabled{cursor: pointer;}
input.invalid, select.invalid, textarea.invalid{background-color: #f2dede;border-color: #ebccd1; color: #a94442;}
textarea{min-height:100px;}
.tab-content{padding:15px;}
.edit.item-page .input-append > .inputbox,
.com_config .form-validate .input-append > input{width:200px; float:left; margin-right:5px;}
.btn.jmodedit{width:32px !important; height:32px !important; line-height:1.4em !important; font-size:14px; text-align:center; display:block;}
.com_config .form-validate .radio > label{display:block; width:100%; height:34px; line-height:34px;}
.com_config .form-validate .radio > input{margin:0;}
.hr-condensed{border-top-width:5px;}
.newsfeed > ol{list-style-type:none;}
.newsfeed > ol > li{position:relative; border-bottom:5px solid #ddd; padding-bottom:35px; margin-bottom:35px;}
.newsfeed > ol > li:before{position:absolute; left:-25px; top:5px; display:block; font-family: FontAwesome; content: "\f02c"; font-size:120%;}
.content_vote{width:100%; display:block; float:left; margin: 10px 0 15px;}
.content_vote > select,
.content_vote > input{width:auto; float:left; margin-right:5px; padding:6px 12px; height:auto;}
.input-mini{width:100px; display:inline-block;}
.display-limit{margin-bottom:20px;}
.weblink-count dd, .weblink-count dt {display: inline-block;}
#system-message{background-color:transparent; border-color:transparent; padding:0; margin:0;}
.vtem-moduletable.panel .panel-heading{margin:0;}
.vtem-moduletable > .moduletable-content ul{list-style:none; padding:0; margin:0;}
.vtem-moduletable > .moduletable-content ul li{padding:5px 0;}
.vtem-moduletable > .moduletable-content ul li > a{display:block;}
.vtem-moduletable .stats-module dt,
.vtem-moduletable .stats-module dd{display:block; width:50%; float:left;}
.vtem-moduletable #modlgn-remember{height:auto;}
.vtem-moduletable > .moduletable-content ul.breadcrumb{padding:8px 15px;}
.vtem-moduletable > .moduletable-content ul.breadcrumb .divider{display:none;}
.vtem-moduletable > .moduletable-content ul.latestnews > li,
.vtem-moduletable > .moduletable-content ul.category-module > li,
.vtem-moduletable > .moduletable-content ul.mostread > li{padding:5px 0 5px 20px; position:relative;}
.vtem-moduletable > .moduletable-content ul.latestnews > li:before,
.vtem-moduletable > .moduletable-content ul.category-module > li:before,
.vtem-moduletable > .moduletable-content ul.mostread > li:before{position:absolute; left:0; top:5px; font-family:FontAwesome; content:"\f101";}
#vtem-warpper-error{background-color:#fcfcfc;}
#vtem-warpper-error .container-inside{width:500px; margin:50px auto; padding:20px; display:inline-block;}
#vtem-warpper-error .not-found-title{font-size:100px; font-weight: lighter; text-transform:uppercase; color:#c00; border-bottom: 3px solid #eee;}
#vtem-warpper-error .not-found-subtitle{text-transform:capitalize;}
#vtem-warpper-error .go-homepages{display:inline-block; margin-top:15px; padding-top: 30px; width:100%; border-top: 1px solid #eee;}
div.pagination{display:block; text-align: center;}
div.pagination > .counter{width:100%; margin:0; padding:0; opacity:.5;}
.vtem-copyright{display:block; width:100%; text-align:center; background-color:#333; padding-bottom:15px;}
.widget-gallery .vtem-gallery{float:left; display:block; position:relative; width:100%;}
.vtem-gallery-item > a,
.vtem-gallery-item > a > img{display:block; width:100%; position:relative; overflow:hidden;}
.widget-gallery, .widget-gallery > div{display:block; position:relative;}
.galleryTypenav{margin-top:45px;}
.gallery-btn{position:absolute; left:0; top:0; right:0; text-align:center;}
.vtem-gallery-item{float:left; display:block;}
.galleryTypenav > div{height:0; overflow:hidden;}
.vtem-gallery-item .item-overlay{display:none; width:100%; height:100%; position:absolute; left:0; top:0; background-color:rgba(0,0,0,.5); text-align:center;}
.vtem-gallery-item .item-overlay > i{width:38px; height:38px; line-height:38px; display:block; position:absolute; left:50%; top:50%; margin-top:-19px; margin-left:-19px; font-size:32px; color:#fff;}
.vtem-gallery-item .item-overlay > i:before{font-size:32px;}
.item-image, .item-overlay{transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -ms-transition:all 0.5s;}
.vtem-gallery-item > a:hover .item-overlay{display:block;}
.vtem-gallery-item > a:hover .lightbox1{transform:scale(1.2, 1.2) rotate(5deg);}

/*######  SLIDESHOW - SKITTER  ###########*/
.box_skitter{position:relative;background-color:#fff;margin-bottom:50px}
.vtemskiter-thumbs,.vtemskiter-numbers,.vtemskiter-none{margin-bottom:0;height:auto!important}
.box_skitter a,.box_skitter img{max-width:none!important;max-height:none!important;display:block;outline:none!important; height:100%;}
.box_skitter ul{display:none}
.box_skitter .container_skitter{overflow:hidden;position:relative}
.box_skitter .image{overflow:hidden; height:100%; width:100%;}
.box_skitter .image img{display:none;width:100%;height:100%}
.box_skitter .box_clone{position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20; background-size:100% 100%;}
.box_skitter .box_clone img{position:absolute;top:0;left:0;z-index:20}
.box_skitter .prev_button,
.box_skitter .next_button{position:absolute;top:50%;right:30px;z-index:152;width:42px;height:42px;overflow:hidden;margin-top:-25px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s; background-color:#333;font-size:0px;}
.box_skitter .prev_button{left:30px; right:auto;}
.box_skitter .prev_button:before,
.box_skitter .next_button:before{position:absolute; left:0; top:0; text-align:center; display:block; content:'\f105'; font-family: FontAwesome; font-size:42px; width:100%; height:100%; line-height:1.1em;}
.box_skitter .prev_button:before{content:'\f104';}
.box_skitter .prev_button:hover,.box_skitter .next_button:hover{opacity:.5!important}
.box_skitter .info_slide{position:absolute;top:15px;left:15px;z-index:100;background:#000;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;opacity:.75}
.box_skitter .info_slide .image_number{background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.box_skitter .info_slide .image_number:hover{background:#000}
.box_skitter .info_slide .image_number_select,.box_skitter .info_slide .image_number_select:hover{background:#c33;float:left;padding:2px 10px;margin:0 5px 0 0}
.box_skitter .container_thumbs{position:relative;overflow:hidden;height:50px}
.box_skitter .info_slide_thumb{height:50px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;top:auto;top:0;left:0;padding:0!important;opacity:1.0}
.box_skitter .info_slide_thumb .image_number{overflow:hidden;width:100px;height:50px;position:relative;margin:0!important;padding:0!important;-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important;opacity:.5!important}
.box_skitter .info_slide_thumb .image_number_select,.box_skitter .info_slide_thumb .image_number_select:hover{opacity:1!important}
.box_skitter .info_slide_thumb .image_number img{width:100%;height:100%;display:block}
.box_skitter .box_scroll_thumbs{padding:0}
.box_skitter .box_scroll_thumbs .scroll_thumbs{position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg,#555,#fff);background:-webkit-gradient(linear,left top,left bottom,from(#555),to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;cursor:pointer;border:0 solid #333}
.box_skitter .info_slide_dots{position:absolute;bottom:-40px;z-index:151;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px}
.box_skitter .info_slide_dots .image_number{background:#333;float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:12px;height:12px;text-indent:-9999em;overflow:hidden;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.box_skitter .info_slide_dots .image_number:hover{background:#000}
.box_skitter .info_slide_dots .image_number_select,.box_skitter .info_slide_dots .image_number_select:hover{background:#c33;float:left;margin:0 5px 0 0}
.loading{position:absolute;top:50%;right:50%;z-index:10000;margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../../../images/ajax-loader.gif) no-repeat left top;width:32px;height:32px}
.box_skitter .label_skitter{z-index:150;position:absolute;bottom:0;left:0;color:#fff;display:none;background-color:rgba(0,0,0,.6);padding:15px}
.box_skitter .label_skitter p{padding:10px;margin:0;font:normal 22px arial,tahoma;letter-spacing:-1px}
.box_skitter .progressbar{background:#000;position:absolute;top:5px;left:15px;height:5px;width:200px;z-index:99;border-radius:20px}
.box_skitter .preview_slide{display:none;position:absolute;z-index:152;bottom:30px;left:-40px;width:100px;height:100px;background:#fff;border:1px solid #222;-moz-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;-webkit-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;box-shadow:rgba(0,0,0,0.7) 2px 2px 5px;overflow:hidden}
.box_skitter .preview_slide ul{height:100px!important;overflow:hidden!important;margin:0!important;list-style:none!important;display:block!important;position:absolute!important;top:0;left:0}
.box_skitter .preview_slide ul li{width:100px!important;height:100px!important;overflow:hidden!important;float:left!important;margin:0!important;padding:0!important;position:relative!important;display:block!important}.box_skitter .preview_slide ul li img{position:absolute!important;top:0!important;left:0!important;height:150px!important;width:auto!important}
#overlay_skitter{position:absolute;top:0;left:0;width:100%;z-index:9998;opacity:1;background:#000}
.box_skitter .focus_button{position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.box_skitter .play_pause_button{position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.box_skitter .play_pause_button:hover{opacity:.5!important}
.box_skitter .focus_button:hover{opacity:.5!important}
.box_skitter .focus_button,.box_skitter .play_pause_button{display:block;background:url(../../../images/sprite-default.png) no-repeat}
.box_skitter .play_pause_button{background-position:-0px -0px;width:42px;height:42px}
.box_skitter .play_pause_button.play_button{background-position:-0px -84px;width:42px;height:42px}
.box_skitter .focus_button{background-position:-42px -0px;width:42px;height:42px}
.box_skitter.navpos-center .info_slide_dots{left:0 !important; padding:0; width:100%; text-align:center;}
.box_skitter.navpos-center .info_slide_dots > span{display:inline-block; float:none !important; margin:0 5px !important;}

/*######  CAROUSEL  ###########*/
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}
.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px,0px,0px); -moz-transform:translate3d(0px,0px,0px); transform:translate3d(0px,0px,0px);}
.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel .owl-item{float:left}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}
.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.grabbing{cursor: move}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0); transform:translate3d(0,0,0)}
.owl-controls{display:block; height:38px; line-height:3em;}
.owl-pagination{display:block; float:right;}
.owl-pagination > div{display:inline-block; width:12px; height:12px; background-color:rgba(153,153,153,.5); text-indent:-999px; overflow:hidden; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; margin:3px;}
.owl-pagination > div.active{background-color:rgba(0,0,0,.5);}
.owl-buttons{display:block; float:right;}
.owl-buttons > div{display:inline-block; width:32px; height:32px; line-height:32px; text-align:center; border:1px solid rgba(153,153,153,.5); -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; margin:3px;}

/*###### Magnific Popup ###########*/
.gallery-container{position:relative;}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#000;opacity:.9;filter:alpha(opacity=90)}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none!important;-webkit-backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-container:before{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor: pointer;}
.mfp-zoom{cursor:pointer;}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none!important}
.mfp-preloader{color:#CCC;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}
.mfp-preloader a{color:#CCC}
.mfp-preloader a:hover{color:#FFF}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}
button::-moz-focus-inner{padding:0;border:0}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:#FFF;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}
.mfp-close:hover,.mfp-close:focus{opacity:1;filter:alpha(opacity=100)}
.mfp-close:active{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#333; background-color:#fff; position:absolute; top:0; right:0; width:30px; height:30px; line-height:30px; display:block; text-align:center; opacity:1;}
.mfp-counter{position:absolute;top:0;right:20px;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap; background-color:rgba(0,0,0,.8); padding:2px 10px;}
.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.mfp-arrow:active{margin-top:-54px}
.mfp-arrow:hover,.mfp-arrow:focus{opacity:1;filter:alpha(opacity=100)}
.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}
.mfp-arrow:after,.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrow:before,.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity:.7}
.mfp-arrow-left{left:0}
.mfp-arrow-left:after,.mfp-arrow-left .mfp-a{border-right:17px solid #FFF;margin-left:31px}
.mfp-arrow-left:before,.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3F3F3F}
.mfp-arrow-right{right:0}
.mfp-arrow-right:after,.mfp-arrow-right .mfp-a{border-left:17px solid #FFF;margin-left:39px}
.mfp-arrow-right:before,.mfp-arrow-right .mfp-b{border-left:27px solid #3F3F3F}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0 auto; border:10px solid #fff;}
.mfp-figure{line-height:0}
.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}
.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-40px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
.mfp-img-mobile img.mfp-img{padding:0}
.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}
.mfp-img-mobile .mfp-counter{right:5px;top:3px}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0}
}
@media all and (max-width: 900px) {
.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}
.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}
.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}
.mfp-container{padding-left:6px;padding-right:6px}
}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}

/*######  MENUS  ###########*/
.nav.vtem-menu{display:none;}
.vtem-menu-wrapper{padding:16px 0;}
.main-vtem-menu > li > a,
.main-vtem-menu > li > span{color:#fff; font-weight:bold; padding: 10px 15px; display:block; cursor:pointer; border-radius:4px;}
.main-vtem-menu li{position:relative;}
.main-vtem-menu li ul a{padding:5px 20px;}
.main-vtem-menu li ul .menu-arrow,
.oVertical > .main-vtem-menu .menu-arrow{border-width:4px; border-style:solid dashed; border-color:transparent transparent transparent #333; position:absolute; right:10px; top:10px;}
.main-vtem-menu li ul .nav-header{font-weight:bold; padding:5px 20px; display:block; border-bottom:1px solid rgba(153,153,153,.2); border-top:1px solid rgba(153,153,153,.2); background-color:#f9f9f9; opacity:.6; color:#333;}
.main-vtem-menu > li > a:hover,
.main-vtem-menu > li > a:focus,
.main-vtem-menu > li.menu-hover > a,
.main-vtem-menu > li.active > a,
.main-vtem-menu > li.active > a:hover,
.main-vtem-menu > li.active > a:focus {color:#fff;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{background-color: transparent;}
.main-vtem-menu ul ul{top:0 !important; left:100% !important;}
.oVertical > .main-vtem-menu,
.oVertical > .main-vtem-menu > li{width:100% !important;}
.oVertical > .main-vtem-menu ul{left:100% !important; top:0 !important;}
.menu-stick,.menu-button-main{width:46px; height:46px; line-height:46px; cursor:pointer; display: inline-block; font-size:32px; cursor:pointer; position:relative; text-align:center; float:right; color:#fff; z-index:900;}
.menu-stick:hover,.menu-button-main:hover{font-size:36px; line-height:42px;}
.oMenuOverwrite{position:fixed; left:0; top:0; bottom:0; right:0; display:none; z-index:998; background-color:rgba(153,153,153,.5);}
.nav.nav-canvas{width:250px; display:block; background:rgba(0,0,0,.8); font-size:120%; position:fixed; left:-250px; top:0; bottom:0; z-index:999; overflow:auto;}
.nav.nav-canvas li > span,
.nav.nav-canvas li > a{display:block; color:#fff; padding:10px 15px; cursor:pointer;}
.nav.nav-canvas li > span.nav-header{font-weight:bold; opacity:.6;}
.nav.nav-canvas > li > a,
.nav.nav-canvas > li > span{border-bottom:1px solid rgba(153,153,153,.2);}
.nav.nav-canvas li a:hover,
.nav.nav-canvas li a:focus,
.nav.nav-canvas li span:hover{background:rgba(0,0,0,.2); text-decoration:none;}
.nav.nav-canvas li.current > a{background-color:#fff; color:#333;}
.vtem-nav-overlay{top:-100%; opacity:0; display:none;}
.nav-overlay-wrap{position:fixed; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background:rgba(255,255,255,1); z-index:999;}
.nav-overlay-wrap .menu-overlay-close{position:absolute; top:20px; right:20px; width:60px; height:60px; display:block; color:#333; font-size:62px; z-index:9; cursor:pointer; font-weight:lighter;}
.nav-overlay-wrap > .menu-overlay-close:hover{color:#c00;}
.nav-overlay-wrap ul{margin:10px auto; float:none !important; position:absolute; left:0; top:0; display:none; width:250px; border:1px solid #ddd; box-shadow:0 1px 3px rgba(51,51,51,.2); padding:10px; border-radius:3px; background:#fff;}
.nav-overlay-wrap li{width:100%;}
.nav-overlay-wrap li ul a,
.nav-overlay-wrap li ul span{font-size:16px; font-weight:300;}
.nav-overlay-wrap > ul{width:350px; position:relative; top:50%; transform:translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); border:none; box-shadow:none; padding:0; border-radius:none;}
.nav-overlay-wrap > ul > li > a{background:none !important; color:#333 !important; font-size:32px; font-weight:300; border-bottom:1px solid rgba(51,51,51,.2); border-radius:0;}
.nav-overlay-wrap > ul li:hover > ul{display:block; left:100%;}
.nav-overlay-wrap > ul > li > a:hover,
.nav-overlay-wrap li ul a:hover{opacity:.5 !important; text-decoration:none;}
.moduletable_menu .nav.menu > li{display:block; width:100%; margin:0; padding:0; border-bottom:1px solid rgba(153,153,153,.3);}
.moduletable_menu .nav.menu li > a,
.moduletable_menu .nav.menu li > span{padding:5px 5px 5px 20px; display:block; color:#333;}
.moduletable_menu .nav.menu li > span.nav-header{font-weight:bold;}
.moduletable_menu .nav.menu > li > a,
.moduletable_menu .nav.menu > li > span{padding:10px 15px; display:block; color:#333;}
.moduletable_menu .nav.menu > li.active > a,
.moduletable_menu .nav.menu > li.active > span{color:#fff; background-color:#333;}

/*######  MODULE STYLEs  ###########*/
.vtem-moduletable{margin-bottom:30px;}
.mod-block{background-color: transparent; padding:25px; border-color:rgba(51,51,51,.15); box-shadow:0 0 2px rgba(0,0,0,.1); -moz-box-shadow:0 0 2px rgba(0,0,0,.1); -webkit-box-shadow:0 0 2px rgba(0,0,0,.1);}
.mod-block > .block-title{margin:5px 0 15px; padding:0;}
.mod-panel{border-color:rgba(51,51,51,.15); box-shadow:0 3px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow:0 3px 0 rgba(0, 0, 0, 0.05); -webkit-box-shadow:0 3px 0 rgba(0, 0, 0, 0.05);}
.mod-panel > .panel-heading{margin:0; padding:15px 25px; background-color: transparent; border-color:rgba(51,51,51,.15); color:inherit;}
.mod-panel > .panel-body{padding:25px;}
.mod-basic > .basic-title{margin:0; padding:15px; background-color:#f9f9f9;}
.mod-basic > .basic-body{padding:15px;}

/*//////// BLOG SKIN //////////////////*/
.blog > *{margin-bottom:30px;}
.blog .item-image,
.item-page .item-image{width:100%; margin-bottom:10px;}
.blog .page-header,
.item-page .page-header{margin-top:0;}
.blog-basic .article-info > dt,
.blog-classic .article-info > dt{display:none;}
.blog-basic .article-info{padding:7px 0;}
.blog-basic .article-info > dd,
.blog-classic .article-info > dd{display:inline-block; padding-right:10px; margin-right:10px; border-right:1px solid rgba(0,0,0,.2); text-transform:uppercase; font-size:80%;}
.blog-basic .article-info > dd:last-child,
.blog-classic .article-info > dd:last-child{border-right:none; margin-right:0;}
.blog-classic .item-image{position:relative; margin-top:10px;}
.blog-classic .item-image > .article-info {background-color: rgba(0, 0, 0, 0.8); bottom: 0; color: #fff; left: 0; margin: 0; padding: 10px 15px; position: absolute; right: 0;}
.blog-classic .article-info > dd{border-right-color:rgba(255,255,255,.5);}
.blog-simple .article-info{background-color:rgba(150,150,150,.05); padding:20px; margin:10px 0; display:block; width:100%; float:left;}
.blog-simple .article-info dt, .blog-simple .article-info dd {border-bottom: 1px solid rgba(150,150,150,.2);  padding: 5px 0;}
.blog-simple .item-image{position:relative; margin-top:10px;}

/*//////// ### WIDGET ### //////////////////*/
.widget-featuredcontent .icon > .fa{font-size:42px;}
.widget-featuredcontent .icon,
.widget-featuredcontent .description{margin:0 0 15px; display:inline-block;}
.widget-testimonial .vtem-block-inside,
.widget-testimonial .vtem_main_testimonial{width:100%; display:block;}
.widget-testimonial .carousel-item,
.widget-carousel .carousel-item{min-width:200px; padding:0 15px;}
.widget-testimonial .small-text{border-left:none; font-size:110%; font-style: italic; color:rgba(51,51,51,.6); position:relative;}
.widget-testimonial .img-circle{width:80px; height:80px;}
.widget-testimonial .client-image{margin:15px 0;}
.widget-carousel .readmore{display: inline-block; margin:15px 0;}

/*/////// BOX STYLES ////////////////////////*/
.moduletable_box-blue, .moduletable-box-blue, .moduletablebox-blue, .box-blue{background-color:#2a82d7 !important; color:#fff !important;}
.moduletable_box-green, .moduletable-box-green, .moduletablebox-green, .box-green{background-color:#3aa03a !important; color:#fff !important;}
.moduletable_box-orange, .moduletable-box-orange, .moduletablebox-orange, .box-orange{background-color:#fd7222 !important; color:#fff !important;}
.moduletable_box-red, .moduletable-box-red, .moduletablebox-red, .box-red{background-color:#d7462c !important; color:#fff !important;}
.moduletable_box-teal, .moduletable-box-teal, .moduletablebox-teal, .box-teal{background-color:#2b8a6d !important; color:#fff !important;}
.moduletable_box-violet, .moduletable-box-violet, .moduletablebox-violet, .box-violet{background-color:#6b28ce !important; color:#fff !important;}
.moduletable_box-pink, .moduletable-box-pink, .moduletablebox-pink, .box-pink{background-color:#fc5ab8 !important; color:#fff !important;}
.moduletable_box-black, .moduletable-box-black, .moduletablebox-black, .box-black{background-color:#333 !important; color:#fff !important;}
.moduletable_box-brown, .moduletable-box-brown, .moduletablebox-brown, .box-brown{background-color:#4e372b !important; color:#fff !important;}
.moduletable_box-yellow, .moduletable-box-yellow, .moduletablebox-yellow, .box-yellow{background-color:#D1CA06 !important; color:#fff !important;}
.moduletable_box-gray, .moduletable-box-gray, .moduletablebox-gray, .box-gray{background-color:#f9f9f9 !important; color:#333 !important;}
.moduletable_box-violetBlue, .moduletable-box-violetBlue, .moduletablebox-violetBlue, .box-violetBlue{background-color:#6041fa !important; color:#fff !important;}