/*######  Design by VTEM http://www.vtem.net All Rights Reserved  ###########*/
/* Portrait tablet and down */
@media (max-width: 991px) {
	.homepage .widget-logo a{margin-top: 20px;}
	.menu-stick, .menu-button-main{float:right; top:-5px; color:#fff; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; border:1px solid;}
	.oMenuStickOpen .nav.nav-canvas, .oMenuOverwrite{display:block !important;}
	.main-vtem-menu,
	.main-vtem-menu li{display:block; width:100% !important; margin:1px 0 !important;}
	.main-vtem-menu ul,
	.main-vtem-menu ul ul,
	.oVertical > .main-vtem-menu ul{position:relative !important; width:100% !important; left:0 !important;}
	.slideshow .box_skitter .label_skitter{display:none !important;}
	/*///////K2 COMPONENT /////////////*/
	.subCategoryContainer{width:100% !important;}

	/*/////// CURRENT THEME ////////////////////*/
	.footer .vtem-block, .homepage .row > div, .best-contact .custom-html-content > div:last-child{padding-top: 40px;}
	.footer .vtem-block:first-child,
	.homepage .row > div:first-child,
	.top-nav .row > div,
	.homepage .section-header .row > div{padding-top:0;}
	.homepage .best-brand .row > div{padding:15px;}
	.homepage .menu-stick, .homepage .menu-button-main{top:15px;}
	.best-profile::after{display:none;}
	.our-team .user-info{margin:0; background-color:#333;}
	.best-gallery{padding:60px 0;}
	.best-profile{margin-top:30px;}
	.best-profile::before{top: 0; left: -50%;}
	.about-us{text-align: left;}
	.about-us .custom-html-content .row > div{padding-top:0;}
}


/* Landscape tablet and up */
@media (max-width: 768px) {
	.homepage .section-header{position: relative; background-color: #333 !important;}
}


/* Phone */
@media (max-width: 480px) {

}

@media (min-width: 992px) {
	.know-us .section-content > div{padding-left: 60px; padding-right: 60px;}
	.best-services .widget-featuredcontent:first-child .icon:after{left: 0;}
	.best-services .widget-featuredcontent:last-child .icon:after{width:200%;}
}