@charset "utf-8";
/* Main CSS Document for 1vtemplate */
/*///////////// 1vtemplate main styles /////////////*/

/* Main tags and containers */
html{position:relative;min-height:100%}
.body{font-family:'Play',sans-serif}
@media(max-width:1200px){
	.body{background-image:none!important}
}
.main_wrapper{margin-left:auto;margin-right:auto;padding-right:15px;padding-left:15px}
#principal_wrapper{margin-right:0;margin-left:0;margin-bottom:30px}
#main_wrapper-end{padding-top:450px}
@media(max-width:767px){
	body{padding-top:0;padding-bottom:0}
	#main-menu_wrapper{margin-top:-20px;margin-right:-15px;margin-left:-15px}
	#main_wrapper-end{padding-top:310px;/* Margin bottom by footer height plus 20px margin-top */margin-bottom:50px!important}
}
@media(max-width:1200px){
	.main_wrapper{width:100%}
}
@media(min-width:1200px){
	.main_wrapper{width:1200px}
}
/* End of Main tags and containers */

/* Template colors and features */
@media(max-width:767px){
	.table-responsive>.table{margin-bottom:20px}
}
ol li{list-style-type:none}
ol{counter-reset:list1}
ol li:before{content:counter(list1)". ";counter-increment:list1}
ol ol{counter-reset:list2}
ol ol li:before{content:counter(list1)"."counter(list2)". ";counter-increment:list2}
ol ol ol{counter-reset:list3}
ol ol ol li:before{content:counter(list1)"."counter(list2)"."counter(list3)". ";counter-increment:list3}
table.text-center thead>tr>th:not([scope="row"]),table.text-center tfoot>tr>th:not([scope="row"]){text-align:center}
table.text-right thead>tr>th:not([scope="row"]),table.text-right tfoot>tr>th:not([scope="row"]){text-align:right}
.avatar_inline img,.avatar_wrapper img{border-radius:50%;max-height:200px}
.avatar_inline,.avatar_inline img{display:inline-block}
.avatar_inline img{max-height:1.8em}
.badge,.bckgrnd_mainc_1,.bckgrnd_mainc_1 tbody .label-info,.bckgrnd_mainc_1 thead>tr>th,.bckgrnd_mainc_1 tfoot>tr>th,.bckgrnd_mainc_1 tfoot>tr>td{background-color:#ff9900;background-image:none}
.bckgrnd_mainc_2,.bckgrnd_mainc_2 tbody .label-info,.bckgrnd_mainc_2 thead>tr>th,.bckgrnd_mainc_2 tfoot>tr>th,.bckgrnd_mainc_2 tfoot>tr>td{background-color:#cccc33;background-image:none}
.bckgrnd_mainc_3,.bckgrnd_mainc_3 tbody .label-info,.bckgrnd_mainc_3 thead>tr>th,.bckgrnd_mainc_3 tfoot>tr>th,.bckgrnd_mainc_3 tfoot>tr>td{background-color:#99ccff;background-image:none}
.bckgrnd_mainc_4,.bckgrnd_mainc_4 tbody .label-info,.bckgrnd_mainc_4 thead>tr>th,.bckgrnd_mainc_4 tfoot>tr>th,.bckgrnd_mainc_4 tfoot>tr>td{background-color:#ffcc99;background-image:none}
.bckgrnd_mainc_5,.bckgrnd_mainc_5 tbody .label-info,.bckgrnd_mainc_5 thead>tr>th,.bckgrnd_mainc_5 tfoot>tr>th,.bckgrnd_mainc_5 tfoot>tr>td{background-color:#ffff99;background-image:none}
.bckgrnd_mainc_6,.bckgrnd_mainc_6 tbody .label-info,.bckgrnd_mainc_6 thead>tr>th,.bckgrnd_mainc_6 tfoot>tr>th,.bckgrnd_mainc_6 tfoot>tr>td{background-color:#cc6666;background-image:none}
.btn-file{overflow:hidden;position:relative}
.btn-file input[type=file]{background:white;cursor:inherit;display:block;filter:alpha(opacity=0);font-size:100px;min-height:100%;min-width:100%;opacity:0;outline:none;position:absolute;right:0;text-align:right;top:0}
.link_color a{color:#ff9900}
.link_color a:hover,.link_color a:focus{color:#cccc33}
.link_color a:active{color:#ffcc99}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#420000}
.radiusless{border-radius:0!important}
.shadow{box-shadow:0 0 30px -5px #000;-moz-box-shadow:0 0 30px -5px #000;-webkit-box-shadow:0 0 30px -5px #000;-khtml-box-shadow:0 0 30px -5px #000}
.shadow_1{box-shadow:0 0 30px -5px #ff9900;-moz-box-shadow:0 0 30px -5px #ff9900;-webkit-box-shadow:0 0 30px -5px #ff9900;-khtml-box-shadow:0 0 30px -5px #ff9900}
@media(max-width:768px){
	.table-responsive_hint{margin-top:-14px}
}
.table-responsive_hint{margin-bottom:5px}
.table-striped>tbody>tr:nth-of-type(odd){background-color:rgba(255,102,0,0.05)}
.table-hover>tbody>tr:hover{background-color:rgba(255,102,0,0.13)}
.textarea_no_resize{max-width:100%;min-width:100%;resize:none}
.text_big{font-size:20px}
.text_color_2{color:#ff9900}
.text_color_3,.pagination>li>a{color:#cccc33}
.text_color_4{color:#ffcc99}
.text_color_5{color:#fff}
.wrong{background-color:#f2dede!important;border-color:#E0B1B4!important;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,144,144,.6)!important;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,144,144,.6)!important}
/* End of Template colors and features */

/* Standoffs, sizings and breakes */
.break_words{word-break:break-all}
.margin_b20,.margin_tb20{margin-bottom:20px}
.margin_tb20,.margin_t20{margin-top:20px}
.margin_b50,.margin_tb50{margin-bottom:50px}
.margin_tb50,.margin_t50{margin-top:50px}
.nowrap{white-space:nowrap}
.padding_10{padding-top:10px;padding-right:10px;padding-left:10px;padding-bottom:10px}
.padding_20{padding-top:20px;padding-right:20px;padding-left:20px;padding-bottom:20px}
.padding_t20{padding-top:20px}
.padding_tb20{padding-top:20px;padding-bottom:20px}
.padding_t50{padding-top:50px}
.padding_tb50{padding-top:50px;padding-bottom:50px}
.pull-center{display:block;margin-right:auto;margin-left:auto}
.social_icons_list>li{margin-bottom:10px}
.social_icons_list.nowrap>li{margin-bottom:0}
.text_ellipsis{overflow:hidden;text-overflow:ellipsis}
/* End of Standoffs, sizings and breakes  */

/* Visibility */
.hidden{display:none!important}
.vsbl_block{display:block!important}
.vsbl_inline_block{display:inline-block!important}
/* End of Visibility */

/* Header */
#header{font-family:'Exo 2',sans-serif;font-size:18px;color:#fff}
#header a{color:#fff}
#header .nav-1vtemplate{font-size:20px}
#header .navbar-nav>li>a{padding-top:13px}
#header .navbar-default .navbar-nav>.active>a{background-image:none;background-color:transparent;box-shadow:none;-webkit-box-shadow:none;/* font-size:16px; */font-weight:700;padding-right:5px;padding-left:5px;text-decoration:underline}
#header .nav-1vt-authorization{font-weight:700}
@media(max-width:1200px){
	#logo_block{margin-left:.1%}
}
@media(max-width:768px){
	#header .navbar-default .navbar-nav>.active>a{background-color:#fff;color:#ff9900;text-decoration:none;padding-right:15px;padding-bottom:15px;padding-left:15px}
	#logo_block{margin-left:15px}
	#main-menu_btn{margin-right:15px}
}
@media(min-width:768px){
	#header .nav-1vt-authorization{float:right;margin-right:-15px}
	#header .nav-1vtemplate{text-align:center;width:100%}
	#header .nav-1vtemplate li{display:inline-block;float:none}
	#main-menu{margin-right:-15px}
	#main-menu .nav-1vt-authorization li>a{padding-right:10px;padding-left:0}
}
@media(min-width:1000px){
	#header .nav-1vtemplate{text-align:left;width:auto}
}
@media(min-width:1200px){
	#header .nav-1vtemplate li{display:inline-block;float:left}
}
#header>.navbar-default{background-color:transparent;background-image:none;border-color:transparent;box-shadow:none;-webkit-box-shadow:none;margin-right:-15px;margin-bottom:0;margin-left:-15px}
#header .navbar-toggle .icon-bar{background-color:#fff}
#logo_block{padding-top:0;padding-bottom:0;padding-left:0}
#logo_block img{max-height:40px}
#main-menu_btn{border-radius:0}
#main-menu_btn:focus,#main_sidebar_btn:hover{background-color:#fff;border-color:#ff9900}
#main-menu_btn:focus .icon-bar,#main_sidebar_btn:hover .icon-bar{background-color:#ff9900}
/* End of Header */

/* Board */
#main_board{background:url(../images/parallax_bckgrnd.jpg) 50% 0 fixed;background-color:#000;background-repeat:no-repeat;height:auto;position:relative;}
@media(max-width:1200px){
	#main_board{padding-top:70px;padding-bottom:130px}
	#main_board h1{margin-bottom:100px}
}
@media(min-width:1200px){
	#main_board{padding-top:70px;padding-bottom:155px}
	#main_board h1{margin-bottom:150px}
}
/* End of Board */

/* Secondary menu (Main Sidebar) */
#principal_wrapper>.main_wrapper>#main_sidebar{margin-top:-20px;padding-right:0;padding-left:0}
#principal_wrapper>*+#main_sidebar{margin-top:15px}
#main_sidebar a.glyphicon>span{font-family:'Exo 2',sans-serif;margin-left:4%}
#main_sidebar{border:none;border-radius:0;background-image:none;font-size:16px;margin-left:-15px}
@media(max-width:768px){
	#main_sidebar #main_sidebar-collapse .navbar-nav>li{display:block!important;margin-right:0!important}
}
@media(min-width:992px){
	#main_sidebar{box-shadow:none;-webkit-box-shadow:none;float:left;max-width:14%;width:150px}
	#main_sidebar+#main_content,#main_sidebar+#system_message_wrapper,#main_sidebar+#system_message_wrapper+#main_content{float:right;margin-left:1%;width:86%}
}
@media(max-width:992px){
	#main_sidebar{margin-right:-15px!important}
	#main_sidebar .navbar-collapse,#main_sidebar .navbar-header{margin-right:0;margin-left:0}
	#main_sidebar #main_sidebar-collapse .navbar-nav>li{display:inline-block;margin-right:5px}
}
#main_sidebar.navbar-default .navbar-brand{color:#fff}
#main_sidebar.navbar-default .navbar-nav>li>a{color:#fff;padding-left:4%;padding-right:3%}
#main_sidebar.navbar-default .navbar-nav>li.active>a{background-color:#cccc33;background-image:none;font-weight:700}
#main_sidebar .navbar-collapse{border:0;box-shadow:none;-webkit-box-shadow:none}
#main_sidebar .navbar-toggle .icon-bar{background-color:#fff!important}
#main_sidebar_btn{border-radius:0}
#main_sidebar_btn:focus,#main_sidebar_btn:hover{background-color:#cccc33}
@media(min-width:992px){
	#main_sidebar .navbar-collapse{border-top:0;box-shadow:none;height:auto;max-height:none;padding-left:0;padding-right:0}
	#main_sidebar .navbar-collapse.collapse{display:block!important;overflow:visible!important;padding-bottom:0;width:auto!important}
	#main_sidebar .navbar-collapse.in{overflow-x:visible}
	#main_sidebar .navbar-nav,#main_sidebar .navbar-nav>li,#main_sidebar .navbar-left,#main_sidebar .navbar-right,
	#main_sidebar .navbar-header{float:none!important}
	#main_sidebar .navbar-right .dropdown-menu{left:0;right:auto}
	#main_sidebar .navbar-collapse .navbar-nav.navbar-right:last-child{margin-right:0}
}
/* End of Secondary menu (Main Sidebar) */

/* Main content */
.results_table tbody>tr>td{background-color:#ddd;border-color:#ccc;text-align:center;vertical-align:middle}
.results_table tbody>tr>td.td_3,.results_table tbody>tr>td.td_6{text-align:left}
.results_table thead>tr>th{text-align:center}
.results_table .group_header{background-color:#ccc;font-weight:700;text-align:center}
.tables_grid tbody{}
.tables_grid .label-info{color:#000}
.tables_grid .table-bordered tbody td{background-color:#ddd;border-color:#ccc}
.tables_grid tbody>tr>td{vertical-align:middle}
.tables_grid tbody>tr>.td_1,.tables_grid thead>tr>.th_1{border-right:0}
.tables_grid tbody>tr>.td_2,.tables_grid thead>tr>.th_2{border-right:0;border-left:0;text-align:center}
.tables_grid tbody>tr>.td_3,.tables_grid thead>tr .th_3{border-left:0;width:380px}
.tables_grid .table tr.collapse>td:not(.row_details_wrapper){border:0;padding:0}
.tables_grid .table tr.collapse .table-condensed .td_4,.tables_grid .table tr.collapse .table-condensed .td_5,.tables_grid .table tr.collapse .table-condensed .td_6,.tables_grid .table tr.collapse .table-condensed .td_7,.tables_grid .table tr.collapse .table-condensed .td_8,.tables_grid .table tr.collapse .table-condensed .td_9,.tables_grid .table tr.collapse .table-condensed .td_10,.tables_grid .table tr.collapse .table-condensed .td_11,.tables_grid .table tr.collapse .table-condensed .td_12,.tables_grid .table tr.collapse .table-condensed .td_13,.tables_grid .table tr.collapse .table-condensed .td_14,.tables_grid .table tr.collapse .table-condensed .td_15{border-right:1px solid #ccc;border-left:1px solid #ccc}
.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_1,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_2,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_3,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_4,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_5,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_6,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_7,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_8,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_9,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_10,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_11,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_12,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_13,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_14,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_15,.tables_grid .table tr.collapse .table-condensed tbody>tr:first-child .td_16{border-top:0}
@media(min-width:992px){
	.tables_grid .collapse .level_1 .td_3{padding-left:20px}
	.tables_grid .collapse .level_2 .td_3{padding-left:40px}
	.tables_grid .collapse .level_3 .td_3{padding-left:60px}
}
.tables_grid .common_tables_grid_thead>th{font-size:12px;text-align:center}
.tables_grid .grid_row_details>td{padding-bottom:0}
.tables_grid .item_info_wrapper{display:inline-block;float:right;margin-left:5px}
.tables_grid .row_details_wrapper .table{float:left;margin-right:5px;margin-bottom:5px;width:auto}
.tables_grid .row_details_wrapper .table thead th{font-size:10px;line-height:.8;text-align:center}
.tables_grid .row_details_wrapper .table td{line-height:.75}
.tables_grid .table{margin-bottom:0}
.tables_grid .tables_grid_thead>th{font-size:10px;text-align:center}
.tables_grid .td_1,.tables_grid .th_1,.tables_grid .td_2,.tables_grid .th_2{max-width:20px;min-width:20px;padding-right:0}
.tables_grid .td_2,.tables_grid .th_2{padding-left:0}
.tables_grid .td_4,.tables_grid .th_4,.tables_grid .td_5,.tables_grid .th_5,.tables_grid .td_6,.tables_grid .th_6,.tables_grid .td_7,.tables_grid .th_7,.tables_grid .td_8,.tables_grid .th_8,.tables_grid .td_9,.tables_grid .th_9,.tables_grid .td_10,.tables_grid .th_10,.tables_grid .td_11,.tables_grid .th_11,.tables_grid .td_12,.tables_grid .th_12,.tables_grid .td_13,.tables_grid .th_13,.tables_grid .td_14,.tables_grid .th_14,.tables_grid .td_15,.tables_grid .th_15,.tables_grid .td_16,.tables_grid .th_16{max-width:40px;min-width:40px;overflow:hidden}
@media(min-width:992px){
	.tables_grid .tables_grid_thead{display:none}
	.tables_grid .td_4,.tables_grid .th_4,.tables_grid .td_5,.tables_grid .th_5,.tables_grid .td_6,.tables_grid .th_6,.tables_grid .td_7,.tables_grid .th_7,.tables_grid .td_8,.tables_grid .th_8,.tables_grid .td_9,.tables_grid .th_9,.tables_grid .td_10,.tables_grid .th_10,.tables_grid .td_11,.tables_grid .th_11,.tables_grid .td_12,.tables_grid .th_12,.tables_grid .td_13,.tables_grid .th_13,.tables_grid .td_14,.tables_grid .th_14,.tables_grid .td_15,.tables_grid .th_15,.tables_grid .td_16,.tables_grid .th_16{max-width:45px;min-width:45px}
}
@media(max-width:992px){
	#common_tables_grid_thead{display:none}
}
/* End of Main content */

/* Bootstrap fix */
ol.carousel-indicators li:before{content:none}
.checkbox-inline>input,.radio-inline>input{margin-right:1em}
/* End of Bootstrap fix */

/* Footer */
#footer_wrapper{margin-top:20px;/* Set the fixed height of the footer here */min-height:100px;padding-top:20px;position:absolute;bottom:0;width:100%}
/* End of Footer */

/* -------------------------------- */
/* BS3 Navbar Click Dropdown-Submenu (No-end sub level) (www.bootply.com/nZaxpxfiXz) */
.dropdown-submenu{position:relative}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px}
.dropdown-submenu:hover>a:after{border-left-color:#555}
.dropdown-submenu.pull-left{float:none}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px}
/* End of BS3 Navbar Click Dropdown-Submenu (No-end sub level) (www.bootply.com/nZaxpxfiXz) */
/*///////////// End of 1vtemplate main styles /////////////*/


.makebetcontainer{
	padding: 20px;
}

.makebetcontainer .h2 {
	float: left;
}

.makebetcontainer .balance{
	padding: 10px;
	background: #fafafa;
	float: right;
	margin-top: -40px;
}

span.win{
	color: darkgreen;
	font-weight: bold;
}

.tables_grid .table-bordered tbody td.row_details_wrapper{
	background: #eee;
}