* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

.filter_item{
	display: inline-block;
	padding-right: 20px;
}

.filter_label{
	display: inline-block;
	width: 130px;
}

.filter_row{

}

.filter_control{
	display: inline-block;
	width: 360px;
}

#editbox3 .input-append{display:table;border-collapse:separate;position:relative}
#editbox3 .input-append button{line-height:15px}
#editbox3 .input-append input{display:table-cell}
@media(min-width:1200px){
#editbox3 .input-append input{max-width:93%}
}
@media(max-width:1199px){
#editbox3 .input-append input{max-width:74%}
}
@media(max-width:992px){
#editbox3 .input-append input{max-width:66%}
}
@media(max-width:768px){
#editbox3 .input-append input{max-width:80%}
}