* {
    font-family: Arial, serif;
	font-size: 99.01%;
	line-height: 1.3;
}
body {
    margin: 20px;
    background: url('img/bg.jpg');
}
a:link {
    color: #009900;
}
a:visited {
    color: #009900;
}
a:link:hover {
    color: #111;
}
a:visited:hover {
    color: #111;
}
input {
    color: #999;
    background: #444;
    padding: 3px;
    border: 1px solid #ccc;
    font-size: 90.1%;
}
h4 {
    color: #666;
}
#www {
    background: url('img/wwwBg.png');
    padding: 100px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
#header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.clear {
    clear: both;
}
.headerInfo {
    
}
.headerInfo ul li {
    list-style: none;
    float: left;
    padding: 3px 6px;
}
p.exit {
    width: 100px;
    float: right;
    text-align: center;
}
#mainMenu {
    background: #ccc;
    width: 600px;
    height: 25px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    top: -50px;
    margin-bottom: 40px;
    left: 20px;
}
#mainMenu ul li {
    float: left;
    padding: 1px 5px;
}
#menu {
    background: #eee;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 7px;
}
#setMenu {
    width: 300px;
    height: 220px;

}
#statInfo {
    width: 300px;
    float: left;
}
#statInfo ul li {
    list-style: none;
}
#generateCode {
    width: 300px;
    float: left;
}
.setMenuMenu {
    width: 250px;
    float: left;
}
#generateCode ul li {
    list-style: none;
}
#admCodes {
    margin-top: 20px;
}
#footer {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}