dl#tabs.tabs { 
   display: inline-block;
   padding: 10px 0 0;
}

dl.tabs {
   margin: 0;
} 

.tabs dt.tabs {
    -webkit-border-radius: 3px;
    border-radius: 3px;
   float: left;
   padding: 5px 10px 6px 10px;
   margin: 0 5px -1px 0;
   background: #fff;
   border-right: solid 1px #DAD9D9;
   border-left: solid 1px #DAD9D9;
   border-top: solid 1px #DAD9D9;
   border-bottom: none;
}

.tabs dt.tabs.closed {
   background: #f5f5f5;
   padding: 5px 10px;
   border: solid 1px #DAD9D9;
}

.tabs dt.tabs.basic-details h3 {
   font-size: 12px;
   margin: 0;
}

.tabs dt.tabs.basic-details.open h3 a:link,
.tabs dt.tabs.basic-details.open h3 a:visited  {
   color: #808080;
}

.tabs dt.tabs.open
{
    color: red;
    border-color: #B2B2B2;
}

.tabs dt.tabs.basic-details h3 a:link,
.tabs dt.tabs.basic-details h3 a:visited {
   text-decoration: none;
   color: #808080;
}

dd.tabs { 
   clear:both;
   background: #fff;
   margin: 0; 
   padding: 10px;
   border: solid 1px #B2B2B2;
}


.pagination {
height: auto;
}
 
.pagination ul {
border-radius: 0;
box-shadow: none;
}