* {
    font-family: Arial, serif;
	font-size: 99.01%;
	line-height: 1.3;
}
body {
    margin: 20px;
    background: url('img/bg.jpg');
}
a:link {
    color: #009900;
}
a:visited {
    color: #009900;
}
a:link:hover {
    color: #111;
}
a:visited:hover {
    color: #111;
}
input {
    color: #666;
    background: #eee;
    padding: 3px;
    border: 1px solid #ccc;
    font-size: 90.1%;
}
h2 {
    font-size: 150%;
}
h4 {
    color: #666;
}
#www {
    background: url('img/wwwBg.png');
    padding: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#header {
    margin-bottom: 20px;
    padding: 10px;
}
.clear {
    clear: both;
}
.headerInfo {
    
}
table tr td {
    padding: 3px 6px;
}
.headerInfo ul li {
    list-style: none;
    float: left;
    padding: 3px 6px;
}
p.exit {
    background: #ccc;
    padding: 4px;
    width: 100px;
    float: right;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#mainMenu {
    background: #ccc;
    width: 630px;
    height: 25px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    top: 0px;
    left: 20px;
}
#mainMenu ul li {
    float: left;
    padding: 1px 5px;
    list-style: none;
}
#menu {
    background: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px;
    height: 260px;
}
#setMenu {
    padding: 0 10px;
    background: #eee;
    top: 15px;
    left: 40px;
    width: 260px;
    height: 150px;
    float: left;
    position: relative;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#statInfo {
    top: 10px;
    background: #eee;
    left: 100px;
    width: 370px;
    float: left;
    position: relative;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#statInfo ul li {
    list-style: none;
}
#generateCode {
    top: 15px;
    background: #eee;
    left: 160px;
    width: 260px;
    height: 170px;
    float: left;
    position: relative;
border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.setMenuMenu {
    width: 250px;
    float: left;
}
#generateCode ul li {
    list-style: none;
}
#admCodes {
    margin-top: 20px;
}
#footer {
    background: #eee;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}