<? include ($_SERVER["DOCUMENT_ROOT"]."/header.php"); ?>


<center><a name="play"></a><iframe src="http://games.vulcan-casino.com/belatra/chukcha/?referal=clubvu" width="900" height="675"></iframe></center>

 <a rel="nofollow" href="/lobby/" class="play_for_money"></a>
       

<? include ($_SERVER["DOCUMENT_ROOT"]."/footer.php"); ?>