<? include ($_SERVER["DOCUMENT_ROOT"]."/header.php"); ?>


<iframe style="display: block; margin-left: auto; margin-right: auto;" src="http://elencasino.com/?page=gamewindow&amp;game=fruit&amp;min=0.1&amp;user=demo&amp;ref=69723" frameborder="2" scrolling="yes" width="420" height="200"></iframe></div>


 <a rel="nofollow" href="/lobby/" class="play_for_money"></a>
       

<? include ($_SERVER["DOCUMENT_ROOT"]."/footer.php"); ?>