<? include ($_SERVER["DOCUMENT_ROOT"]."/header.php"); ?>


<a name="play"></a><iframe src="http://games.vulcan-casino.com/igrosoft/fruit_cocktail/?referal=clubvu" width="900" height="675"></iframe>

 <a rel="nofollow" href="/lobby/" class="play_for_money"></a>
       

<? include ($_SERVER["DOCUMENT_ROOT"]."/footer.php"); ?>