<? include ($_SERVER["DOCUMENT_ROOT"]."/header.php"); ?>


<a name="play"></a><iframe src="http://games.vulcan-casino.com/igrosoft/resident/?referal=clubvu" width="900" height="675"></iframe><br>

 <a rel="nofollow" href="/lobby/" class="play_for_money"></a>
       

<? include ($_SERVER["DOCUMENT_ROOT"]."/footer.php"); ?>