﻿<? include ($_SERVER["DOCUMENT_ROOT"]."/header.php"); ?>
<br>

<iframe src="http://games.gaminatorslots.com/igrosoft/gnome/?referal=getbonus" width="400" height="200"></iframe><br>\

 <a rel="nofollow" href="/lobby/" class="play_for_money"></a>
       
           
<? include ($_SERVER["DOCUMENT_ROOT"]."/footer.php"); ?>