#gamelist ul, #gamelist ul li {margin: 0; padding: 0; }

#gamelist {margin-left: 50px; margin-top: 2em;}

#gamelist .item-layer {background: #080808; width: 180px; height: 208px; position: relative; text-align: center; font-family: Tahoma, Myriad Pro; color: #fff; float: left; margin-left: 10px; margin-bottom: 10px;}

#gamelist .item-layer:hover {background: #111;}

#gamelist .item-layer .item-background {position: absolute; background: url('/i/gamelist/bg_170x165.png') no-repeat; width: 170px; height: 165px; top: 5px; left: 5px; overflow: hidden;}

#gamelist .item-layer .item-controls-layer {position: absolute; top: 165px; left: 0; }

#gamelist .item-layer .item-controls-layer .item-controls-background{position: absolute; background: url('/i/gamelist/hover_glass_170x165_v2.png') no-repeat; width: 170px; height: 165px; }

#gamelist .item-controls {position: relative; width: 170px; height: 165px;}

#gamelist .item-denomination {padding-top: 15px; display: none;}
#gamelist .item-denomination .values {list-style: none;}
#gamelist .item-denomination .title {margin: 0; padding: 0; }
#gamelist .item-denomination .values {fmargin-top:6px; margin-lefft: 8px;font-size: 80%;}
#gamelist .item-denomination .values li {display: inline; cursor: pointer; opacity: .8;}
#gamelist .item-denomination .values li:hover {opacity: 1;}




#gamelist .item-buttons span {display: none;}

#gamelist .item-buttons .splitter {position: absolute; height: 1px; width: 135px; opacity: .2; background: #999; bottom: 57px; left: 15px; }

#gamelist .item-buttons .play,
#gamelist .item-buttons .play-fun {position: absolute; width: 118px; height: 31px; left: 25px; cursor: pointer;}

#gamelist .item-buttons .play {background: url(/i/gamelist/play.png) no-repeat 0 0px;bottom: 66px;}

#gamelist .item-buttons .play-fun {background: url(/i/gamelist/play_fun.png) no-repeat 0 0px; bottom: 18px;}

#gamelist .item-buttons .play:hover, 
#gamelist .item-buttons .play-fun:hover {background-position: 0 -31px;}

#gamelist .item-buttons .play:active {background-position: 0 -62px;}
#gamelist .item-buttons .play-fun:active {background-position: 0 -62px;}

#gamelist .item-layer a.title {color: #aaa;}

#gamelist .item-layer a.title {display: block; position: absolute; bottom: 0; texft-align: center; width: 100%; center: 0; border-bottom: 4px solid #101010; text-decoration: none; padding-bottom: 8px;font-size: 85%;}

#gamelist .item-layer:hover a.title {color: #fff; border-bottom-color: #222;}