#group-list {margin-top: 2em; text-align: center;}
#group-list a {margin-right: 15px; text-decoration: none; background: #400; color: #fff; padding: 4px 20px 4px 15px; border-radius: 3px; -moz-border-radius: 3px; position: relative;}
#group-list a:hover {background: #800}
#group-list a.active {background: #c00}

#group-list a .count {font-weight: bold; font-size: 50%; color: #ccc; position: absolute; right: 7px; top: 3px;}