p { font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #FFFFFF; }
p.swhite { font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #FFFFFF; }
p.b { font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; color: #FF0000; }
p.big { font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 11pt; color: #FFFFFF; }
p.small { font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #000000; }
p.vsmall { font-family: Tahoma, Verdana, sans-serif; font-size: 7pt; color: #000000; }
p.green { font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; color: #006600; }
p.white { font-family: Tahoma, Verdana, sans-serif; font-size: 10pt; color: #FFFFFF; }
p.gray { font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #505050; }
li { margin-bottom: 5; font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #FFFF66; }
li.wap { margin-left:-25; margin-bottom: 5; font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #FFFF66; }
td { font-family: Tahoma, Verdana, sans-serif; font-size: 8pt; color: #FFFFFF; }
h1 { font-family: Tahoma, Verdana, sans-serif; font-size: 7pt; color: #FFCC00; }
A:link { text-decoration: underline; color:#D0CC82; }
A:visited { text-decoration: underline; color:#D0CC82; }
A:active { text-decoration: none;  color:#FFFFFF; }
A:hover { text-decoration: none; color:#FFFFFF; }
A.link:link { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt; color:#FEF898; }
A.link:visited { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt; color:#FEF898; }
A.link:active { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt;  color:#FFFFFF; }
A.link:hover { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt; color:#FFFFFF; }
.link { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt; color:#000000;}
.cmenu { font-family: Tahoma, Verdana, sans-serif; text-decoration: none; font-size: 8pt; color:#FFFFFF;}
.rul0 { background-color: #1E2628; }
.rul1 { background-color: #15191C; }
.rul2 { background-color: #101115; }
img.green { border-color: #505050; }
	
select {
	background-color: #160609; 
	text-align: center;
	color: #FFFFFF;
	border-color:  #68463A; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
}
.ftext {
	background-color: #160609; 
	text-align: center;
	color: #FFFFFF;
	border-color:  #68463A; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
}
.ftextr {
	background-color: #160609; 
	color: #FFFFFF;
	border-color:  #68463A; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
}
.fbutt { 
	border-color: #68463A;
	border-bottom-color: #68463A;
	background-color: #160609;  
	color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8 pt;
}
.fairt {
	background-color: #FFFFFF; 
	color: #000000; 
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.farea { 
	border-width: 1;
	border-color:  #505050; 
	background-color: #160609; 
	color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt
}
